* {
  margin: 0;
  padding: 0;
}

/*wrap*/
#wrap {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
}

/*header*/
header {
  text-align: center;
  margin-top: 1em;
}

header img {
  display: block;
  margin: 1em auto;
  border-radius: 20em;
  width: 15em;
  position: relative;
  z-index: 1;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

/*main section*/
#main_section {
  background: #f7f7f7;
  padding-top: 6.5em;
  padding-bottom: 1em;
  position: relative;
  top: -7.5em;
  cursor: default;
}

#main_section article {
  width: 90%;
  margin: 2% auto;
}

#main_section article h3 {
  font-weight: normal;
  font-size: 2em;
}

#main_section article p {
  margin-top: 1em;
  line-height: 1.7em;
  font-size: 1.2em;
}

#main_section article a {
  color: #000;
}

#main_section article p .elab {
  color: #8e8e8e;
  font-size: 0.8em;
  position: relative;
  top: -0.05em;
}

#main_section article p .elab:before {
  content: ' (';
}

#main_section article p .elab:after {
  content: ') ';
}

#main_section article p .sel {
  background: #e2e2e2;
  font-size: 0.9em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0.1em;
  white-space: nowrap;
}

#main_section article p .sel:hover {
  position: relative;
  z-index: 10;
  font-weight: bold;
  background: #FFF;
}

/*langs*/
#main_section article p .sel_js:hover {
  background: #F0DB4F;
  color: #323330;
}

#main_section article p .sel_python:hover {
  background: #FEE05E;
  color: #626262;
}

#main_section article p .sel_clojure:hover {
  color: #456CCF;
  background: #7FD537;
}

#main_section article p .sel_arduino:hover {
  color: #00979C;
}

#main_section article p .sel_java:hover {
  color: #DC5541;
}

#my_repos img {
  border: 1em #e2e2e2 solid;
}

#my_repos .sel {
  white-space: normal;
}

@media screen and (min-width: 1024px) {
  #wrap {
    width: 70%;
  }

  #main_section article {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  #main_section {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
  }
}

/*footer*/
footer {
  position: relative;
  top: -3em;
}

footer a {
  color: black;
}
