$related-info-color: #5d5d5d;

.cv {
  display: flex;
  padding: 0 6em;

  &__header {
    text-align: left;

    &__title {
      display: inline-block;
      padding: 0.5em 0 0 3em;
      margin: 0;
      font-size: 2em;
    }

    &__subtitle {
      display: inline-block;
      font-size: 2em;
      color: $related-info-color;
      padding: 0 0 0.5em 0;

    }
  }

  &__base_information {
    text-align: right;
    width: 50%;
    padding-right: 2em;

    &__full_name {
      display: block;
      font-size: 2em;
    }

    &__photo {
      text-align: center;
      margin: 0 auto;
    }

    &__photo img {
      width: 100%;
    }

    &__block {
      margin-top: 1em;

      &__title {
        display: block;
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 0.25em 0;
      }

      &__list {
        padding: 0;
        margin: 0;
      }

      &__list li {
        list-style: none;
        white-space: nowrap;
      }
    }
  }

  &__progress_information {
    text-align: left;
    // padding-right: 6em;

    &__duration {
      color: $related-info-color;
    }

    &__item {
      display: block;
      border: 0 solid $related-info-color;
      border-left-width: 0.5em;
      margin: 1em 0;
      padding-left: 0.7em;
      font-size: 1.2em;

      &__type {
        display: block;
        color: $related-info-color;
      }

      &__title {
        display: block;
        font-size: 2em;
      }

      &__description {
        display: block;
        margin: 0.25em 0;
      }

      &__techs {
        display: block;
        font-size: 1.5em;
      }
    }
  }

  &__progress_information h2 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
  }
}
.cv section {
  flex: auto;
}