<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!-- load by flag -->
  <link rel="stylesheet" href="/static/a11y-light.css">
  <style>
    * {
      --typography-spacing-vertical: 0.75rem !important;
    }

    p {
      --color: #2f3940 !important;
    }
  </style>
</head>
<body>
  <main class="container">
    <div>
      <nav>
        <ul>
          <li>
            <hgroup>
              <h3>Технический блог Артура</h3>
              <h6>IT и музыкантсво</h6>
            </hgroup>
          </li>
        </ul>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="#">CV</a></li>
          <li><a href="https://github.com/ArturAralin" target="_blank">GitHub</a></li>
          <!-- <li><a href="#" role="button">Button</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="grid">
      <div>{{body}}</div>
    </div>
    <hr>
    <div class="grid">
      <div>
        <hgroup>
          <h6>Автор: Арутр Аралин</h6>
          <h6>Telegram: @aaralin, email: username@aaralin.ru</h6>
        </hgroup>
      </div>
      <div style="text-align: right;"><a href="#"><kbd>Лайк, подписка, колокольчик</kbd></a></div>
    </div>
  </main>
</body>
</html>
